* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  width: 100vw;
  height: 100vh;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  padding: 0.1rem 0.3rem;
}

/*FlexBox*/

.flexBox {
  height: calc(100vh - 115px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;
}

/*Main Header*/

.mainHeader {
  height: 40px;
  display: flex;
  align-items: center;
  color: #515356;
}

/*Main Footer*/

.mainFooter {
  background-color: #ededed;
  height: 40px;
  display: flex;
  align-items: center;
  color: #515356;
}

/*About*/

.aboutPage {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Contact*/

.contactPage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactPage form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ededed;
  flex-direction: column;

  height: 30rem;
  width: 20rem;
}

.formContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.formContent label, input, button {
  margin: 0.1rem 3rem;
}

.formContent button {
  align-self: flex-end;
  padding: 0.1rem 0.3rem;
  margin-top: 1rem;
}

